@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0f172a;
  color: #e5e7eb;
  font-family: Inter, system-ui, sans-serif;
  overflow-x: hidden;
}
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
